body {
    background-color: #002A35;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 98vh;
}

h1 { 
    font-family: 'Inconsolata', Arial, sans-serif; 
    font-size: 48px;
    color: #839496;
    min-width: 500px;
    padding-left: 15%;
    padding-right: 15%;
}

p { 
    font-family: 'Inconsolata', Arial, sans-serif; 
    font-size: 18px;
    color: #839496;
}

.categories {
    float: left;
    cursor:pointer;
}

.details {
    float: left;
    padding-left: 7%;
    max-width: 500px;
    font-family: 'Inconsolata', Arial, sans-serif; 
    font-size: 18px;
    color: #839496;
    margin-block-start: 1em;
}