body {
    background-color: #002A35;
}

h1 { 
    font-family: 'Inconsolata', Arial, sans-serif; 
    font-size: 48px;
    color: #839496;
}

p { 
    font-family: 'Inconsolata', Arial, sans-serif; 
    font-size: 14px;
    color: #839496;
}

.center {
    position: absolute;
    top: 45%;
    left: 45%;
    margin: -100px 0 0 -150px;
}